/* Color Variables */

$blue:  #3784BF;
$lightBlue: #EFF5FA;
$blueHover:  #2278ba;
$blueText: #79C5FF;
$darkBlue: #184484;
$green: #50B29F;
$darkGrey: #4C4C4C;
$purple:  #80338B;
$purpleHover:  #71267b;
$text-color: #13325F;
$white:#fff;